.acf-repeater .acf-row-handle.order {
  background: #2271b1 !important;
  color: #fff !important;
  flex-shrink: 0;
}

.acf-repeater .acf-row-handle.remove {
  background: #dc3232;
  color: #fff;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.acf-repeater .acf-row-handle.remove:hover {
  background: #aa0000;
}

.acf-repeater .acf-row {
  border: 1px solid #ccd0d4;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#edittag {
  max-width: 100% !important;
}
#edittag .description, #edittag h2 {
  display: none;
}

.link-wrap {
  width: -webkit-fill-available;
}
.link-wrap .link-title,
.link-wrap .link-url {
  padding: 0 !important;
  grid-column: 1/-1;
  width: 100%;
  display: flex;
}

.hero-images-list .acf-row {
  margin: 0;
}
.hero-images-list .acf-table tbody {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.hero-images-list .acf-table tbody .acf-label {
  display: none;
}
.hero-images-list .acf-table tbody .acf-field-image {
  padding: 0;
}
.hero-images-list .acf-table tbody .acf-field-image img {
  margin: 0;
}

div.acf-postbox.seamless > .inside {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.acf-fields > .acf-field {
  padding: 5px !important;
}

.col-2 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.col-2 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

.col-3 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.col-3 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

.col-4 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.col-4 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

.col-5 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.col-5 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

.col-6 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.col-6 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

.col-7 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.col-7 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

.col-8 > .acf-input > .acf-repeater .acf-table tbody {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.col-8 > .acf-input > .acf-repeater .acf-table tbody tbody {
  grid-template-columns: 100%;
}

[class*=col-] .acf-row {
  margin: 0;
}
[class*=col-] .acf-table tbody .acf-label {
  display: none;
}
[class*=col-] .acf-table tbody tr {
  margin-bottom: 0 !important;
  flex-grow: 1;
  display: flex;
}
[class*=col-] .acf-table tbody tr td:nth-of-type(2) {
  flex-grow: 1;
}
[class*=col-] .acf-table tbody .image-wrap {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
[class*=col-] .acf-table tbody .acf-field-image img {
  margin: 0 auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.flexible-2 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.flexible-2 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}

.flexible-3 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.flexible-3 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}

.flexible-4 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.flexible-4 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}

.flexible-5 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.flexible-5 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}

.flexible-6 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.flexible-6 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}

.flexible-7 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.flexible-7 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}

.flexible-8 .acf-flexible-content > .values {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
.flexible-8 .acf-flexible-content > .values .layout {
  margin: 0 !important;
}
/*# sourceMappingURL=global.css.map */