@use "../mixins/breakpoint" as *;
@use "../mixins/mini" as *;
@use "../components/main-components/accordion" as *;

.section-faq {
  margin-bottom: var(--default-padding);
 
    &__inner{
        display: flex;
        flex-direction: column;
        gap: var(--default-gap);
    }
 

@include accordion;
}
