@use '../mixins/breakpoint' as *;
@use '../mixins/mini' as *;

.section-about {
    padding-bottom: var(--default-padding);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: var(--default-gap);
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px var(--gap);

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__image{
    width: 100%;
    height: 100%;
    display: flex;

    img,picture{
        height: 100%;
        width: 100%;
    }

    @include tablet{
        max-height: 400px;
        order: -1;
    }
  }
}