@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;
@use "../mixins/mini" as *;
@use "../components/main-components/main-form" as *;

.section-form {
  padding-bottom: var(--default-padding);

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);

    .editor {
      align-self: center;

      @include headers {
        max-width: 900px;
        align-self: center;
        & > p {
          align-self: center;
          max-width: 900px;
        }
      }
    }
  }

  .wpcf7 {
    max-width: 100%;
    margin-top: calc(var(--default-gap) - clamp(16px, 1.6667vw, 24px));
  }

  @include main-form;
}
