/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.section-catalog {
  padding-bottom: var(--default-padding);
}
.section-catalog .breadcrumbs {
  margin-top: calc(var(--default-padding) * -1);
}
.section-catalog__list {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 4.4444vw, 64px);
}
.section-catalog__inner {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap) var(--gap);
}
.section-catalog__inner .editor {
  max-width: 900px;
  align-self: center;
  grid-column: 1/-1;
}
.section-catalog__list {
  display: flex;
  flex-direction: column;
  gap: 24px var(--gap);
}
.section-catalog__image {
  width: 100%;
  height: 100%;
  display: flex;
}
.section-catalog__image img,
.section-catalog__image picture {
  height: 100%;
  width: 100%;
}
.section-catalog .catalog-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  border: 1px solid var(--neutral-200);
}
.section-catalog .catalog-card__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: clamp(16px, 1.6667vw, 24px);
}
.section-catalog .catalog-card__box p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(18px, 1.3889vw, 20px);
  line-height: 145%;
  color: var(--neutral-700);
}
.section-catalog .catalog-card .main-button {
  margin-top: auto;
  width: 100%;
  max-width: 100%;
  color: var(--neutral-700);
}
.section-catalog .catalog-card__list {
  margin-top: clamp(8px, 1.9444vw, 28px);
  margin-bottom: 16px;
  gap: 8px;
}
.section-catalog .catalog-card__icon {
  width: 20px;
  height: 20px;
  display: flex;
}
.section-catalog .catalog-card__icon .sprite {
  width: 100%;
  height: 100%;
}
.section-catalog .catalog-card__icon svg {
  width: 100%;
  height: auto;
}
.section-catalog .catalog-card__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section-catalog .catalog-card__item p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 150%;
  color: var(--neutral-600);
}
.section-catalog .catalog-card__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(242, 243, 242, 0.5);
  height: 100%;
  min-height: clamp(400px, 34.7222vw, 500px);
}
.section-catalog .catalog-card__image img,
.section-catalog .catalog-card__image picture {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .section-catalog__item:nth-child(even) .catalog-card__image {
    grid-column: 1/2;
    grid-row: 1;
  }
}
@media (max-width: 1024px) {
  .section-catalog__inner .editor {
    order: -2;
  }
  .section-catalog__list {
    margin-top: -12px;
  }
  .section-catalog__image {
    max-height: 400px;
    order: -1;
  }
  .section-catalog .pretitle {
    font-family: var(--font-family2);
    font-weight: 400;
  }
  .section-catalog .catalog-card__box p {
    font-family: var(--font-family2);
    font-weight: 400;
  }
  .section-catalog .catalog-card__box .pretitle {
    font-family: var(--font-family2);
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .section-catalog .catalog-card__image {
    order: -1;
    min-height: initial;
    height: 400px;
  }
  .section-catalog .catalog-card {
    grid-template-columns: 100%;
  }
}
@media (max-width: 575px) {
  .section-catalog .catalog-card__image {
    height: 300px;
  }
}
/*# sourceMappingURL=section-catalog.css.map */