/* stylelint-disable */
/* stylelint-disable */
.section-contact {
  padding-bottom: var(--default-padding);
}
.section-contact__inner {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}
.section-contact__inner .editor {
  max-width: 900px;
  align-self: center;
}
.section-contact__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px var(--gap);
}
.section-contact__list {
  display: flex;
  flex-direction: column;
  gap: 24px var(--gap);
}
.section-contact__image {
  width: 100%;
  height: 100%;
  display: flex;
}
.section-contact__image img,
.section-contact__image picture {
  height: 100%;
  width: 100%;
}
.section-contact__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: var(--gap);
  border: 1px solid var(--neutral-200);
  width: 100%;
  height: 100%;
}
.section-contact__item:first-of-type a {
  max-width: 230px;
}
.section-contact__item:last-of-type a {
  grid-column: 1/-1;
}
.section-contact__item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-contact__item li {
  display: grid;
  grid-template-columns: minmax(160px, auto) 1fr;
  grid-gap: 16px;
}
.section-contact__item a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(16px, 1.76vw, 18px);
  line-height: 150%;
  color: var(--neutral-600);
  transition: all 0.3s;
  width: -moz-fit-content;
  width: fit-content;
}
.section-contact__item p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 150%;
  color: var(--neutral-600);
}
.section-contact .wpcf7 {
  max-width: 100%;
}
.section-contact .main-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-contact .main-form__cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(16px, 1.6667vw, 24px);
}
.section-contact .main-form label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.section-contact .main-form label > span:not([class]) {
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-700);
  padding-left: 16px;
  order: -1;
}
.section-contact .main-form label > span:not([class]) i {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: var(--error-bg);
  margin-left: 4px;
  display: inline-block;
  position: relative;
  top: -5px;
}
.section-contact .main-form label input {
  border: 1px solid var(--neutral-300);
  padding: 0px 10px 0px 16px;
  width: 100%;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-700);
  transition: all 0.3s;
}
.section-contact .main-form label input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-500);
}
.section-contact .main-form label input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-500);
}
.section-contact .main-form label input:focus {
  border-color: var(--main-green);
}
.section-contact .main-form label textarea {
  border: 1px solid var(--neutral-300);
  padding: 0px 10px 0px 16px;
  width: 100%;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-700);
  min-height: 150px;
  transition: all 0.3s;
  background: transparent;
}
.section-contact .main-form label textarea:focus {
  border-color: var(--main-green);
}
.section-contact .main-form label textarea::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-500);
}
.section-contact .main-form label textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--neutral-500);
}
.section-contact .main-form .main-button {
  width: 100%;
  position: relative;
  max-width: 245px;
  padding: 16px 50px;
  margin-top: clamp(12px, 2.7778vw, 40px);
  align-self: center;
}
.section-contact .main-form .wpcf7 {
  position: relative;
  z-index: 1;
}
.section-contact .main-form .wpcf7-form-control-wrap {
  display: flex;
}
.section-contact .main-form .wpcf7-spinner {
  display: none;
}
.section-contact .main-form .wpcf7-not-valid-tip {
  bottom: 2px;
  left: 20px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  transition-delay: 0.2s;
}
.section-contact .main-form .wpcf7-response-output {
  display: none;
  position: absolute;
}
.section-contact .main-form__box {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6667vw, 24px);
}
.section-contact .main-form__wrapp {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6667vw, 24px);
  height: 100%;
}
.section-contact .main-form__wrapp .main-button {
  margin-top: auto;
  max-width: 249px;
}
.section-contact .main-form__wrapp label textarea {
  padding: 12px 10px 12px 16px;
  height: clamp(227px, 17.0139vw, 245px);
}
@media (min-width: 576px) {
  .section-contact__item .pretitle {
    margin-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .section-contact .main-form__wrapp .main-button {
    align-self: flex-end;
  }
}
@media (max-width: 1024px) {
  .section-contact__box {
    grid-template-columns: 100%;
  }
  .section-contact__image {
    max-height: 400px;
    order: -1;
  }
}
@media (max-width: 1024px) and (min-width: 576px) {
  .section-contact__item {
    gap: 24px;
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .section-contact .main-form__cta {
    grid-template-columns: 100%;
  }
  .section-contact .main-form__wrapp .main-button {
    max-width: 450px;
    margin-top: 0;
  }
}
@media (max-width: 575px) {
  .section-contact__item a {
    width: 100%;
    justify-content: space-between;
  }
  .section-contact .main-form__wrapp .main-button {
    max-width: 100%;
  }
}
@media (hover: hover) {
  .section-contact__item a:hover {
    color: var(--neutral-900);
  }
}
@media (hover: none) {
  .section-contact__item a:active {
    color: var(--neutral-900);
  }
}
/*# sourceMappingURL=section-contact.css.map */