@use "../mixins/breakpoint" as *;
@use "../mixins/burger" as *;
@use "../mixins/disable-mob-hover" as *;
@use "../mixins/mini" as *;
@use "../components/main-components/main-nav" as *;

.header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 20;
  background: var(--main-green);
  transition: box-shadow .3s;
  &.sticky{
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
  }

  &__inner {
    padding: clamp(16px, 1.6667vw, 24px) 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: clamp(20px, 4.0972vw, 59px);

    & > .main-nav {
      @include tablet {
        display: none;
      }
    }

    @include laptop {
      gap: 32px;
    }

    @include tablet {
      padding: 4px 0;
      grid-template-columns: auto 1fr;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 16px;

    .main-button {
      height: clamp(40px, 3.0556vw, 44px);
      padding: 8px clamp(16px, 1.6667vw, 24px);
      font-size: clamp(16px, 1.25vw, 18px);
    }

    @include tablet {
      display: none;
    }
  }

  .burger {
    color: var(--neutral-100);

    &.active {
      color: var(--neutral-100);
    }

    @include hover {
      color: var(--main-yellow);
    }

    @include for-tablet {
      display: none;
    }

    @include tablet {
      justify-self: end;
      @include burger;
    }
  }

  @include tablet {
    backdrop-filter: blur(10px);
  }

  @include main-nav;
}
