@use "../../mixins/breakpoint" as *;

.breadcrumbs {
  position: relative;
  width: 100%;
  padding: 50px 0;

  ul {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    span {
      display: inline-flex;
      align-items: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(16px, 1.3889vw, 20px);
      line-height: 145%;
      color: var(--neutral-500);

      @include tablet {
        height: 44px;
        line-height: 150%;
      }
    }

    &:not(:last-child) {
      &::after {
        width: 16px;
        height: 16px;
        display: block;
        content: "";
        pointer-events: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='%23313131' d='M8.933 8.473a.667.667 0 0 0 0-.946l-3.06-3.054a.667.667 0 1 1 .94-.946l3.06 3.06a2 2 0 0 1 0 2.826l-3.06 3.06a.666.666 0 0 1-.94-.946l3.06-3.054Z'/%3E%3C/svg%3E");
      }
    }

    a {
      transition: all 0.3s;
      display: inline-flex;
      font-style: normal;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(18px, 1.3889vw, 20px);
      line-height: 145%;
      align-items: center;
      color: var(--neutral-700);

      &:hover {
        color: var(--main-green);
      }

      @include tablet {
        height: 44px;
        line-height: 150%;
      }
    }
  }

  @include tablet {
    padding: 16px 0 24px;
  }
}
