@use "../../mixins/breakpoint" as *;

@mixin main-form {
  .main-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__cta{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: clamp(16px, 1.6667vw, 24px);

      @include small-tablet{
        grid-template-columns: 100%;
      }
    }

   

    label {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;

      & > span:not([class]) {
        padding-left: 16px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: var(--neutral-700);
        padding-left: 16px;
        order: -1;

        i {
          font-family: var(--font3);
          font-weight: 400;
          font-size: 12px;
          font-style: normal;
          color: var(--error-bg);
          margin-left: 4px;
          display: inline-block;
          position: relative;
          top: -5px;
        }
      }

      input {
        border: 1px solid var(--neutral-300);
        padding: 0px 10px 0px 16px;
        width: 100%;
        height: 50px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: var(--neutral-700);
        transition: all 0.3s;

        &::placeholder {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          color: var(--neutral-500);
        }

        &:focus {
          border-color: var(--main-green);
        }
      }

      textarea {
        border: 1px solid var(--neutral-300);
        padding: 0px 10px 0px 16px;
        width: 100%;
        height: 50px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: var(--neutral-700);
        min-height: 150px;
        transition: all 0.3s;
        background: transparent;

        &:focus {
          border-color: var(--main-green);
        }

        &::placeholder {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          color: var(--neutral-500);
        }
      }
    }

    .main-button {
      width: 100%;
      position: relative;
      max-width: 245px;
      padding: 16px 50px;
      margin-top: clamp(12px, 2.7778vw, 40px);
      align-self: center;
    }

    .wpcf7 {
      position: relative;
      z-index: 1;

      &-form-control-wrap {
        display: flex;
      }

      &-spinner {
        display: none;
      }

      &-not-valid-tip {
        bottom: 2px;
        left: Max(20px, 20px);
        position: absolute;
        opacity: 0;
        transition: opacity 0.2s;
        transition-delay: 0.2s;
      }

      &-response {
        &-output {
          display: none;
          position: absolute;
        }
      }
    }

     &__box{
      display: flex;
      flex-direction: column;
      gap: clamp(16px, 1.6667vw, 24px);
    }

    &__wrapp{
        display: flex;
      flex-direction: column;
      gap: clamp(16px, 1.6667vw, 24px);
      height: 100%;

      .main-button{
        margin-top: auto;
        max-width: 249px;
    

        @include for-small-tablet{
    align-self: flex-end;
        }

        @include small-tablet{
          max-width: 450px;
          margin-top: 0;
        }

        @include mobile{
          max-width: 100%;
        }
      }

       label textarea {
        padding: 12px 10px 12px 16px;
        height: clamp(227px, 17.0139vw, 245px);
      }
    }
  }
}
