@use '../../mixins/breakpoint' as *;
@use '../../mixins/disable-mob-hover' as *;

@mixin main-nav{
  .main-nav {

	ul {
	  display: flex;
	  align-items: center;
	  gap: 20px;

	  @include tablet {
		flex-direction: column;
		align-items: flex-start;
	  }

	  a {
		color: var(--cl-b);
		font-family: var(--font-family);
		font-size: 16px;
		font-weight: normal;
		line-height: 109%;
		white-space: nowrap;

		@include hover {
		  color: var(--cl-e);
		}
	  }
	}
  }
}