@use "../../mixins/breakpoint" as *;
@use "../../mixins/disable-mob-hover" as *;
@use "../../components/products-slider" as *;
@use "../../components/product-card" as *;
@use "../../components/post-card" as *;

.section-related {
  padding-bottom: var(--default-padding);
  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);

    & > .main-button{
      align-self: center;

      @include mobile{
        width: 100%;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }

  &__title {
    font-family:  var(--font-family3);
    font-weight: 600;
    font-size: clamp(22px, 2.7778vw, 40px);
    line-height: 130%;
    text-transform: uppercase;
    color: var(--neutral-600);
  }
  @include products-slider;
  @include product-card;
  @include post-card;
}
