@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TT-Firs";
  font-display: swap;
  src: url("../fonts/TT_Firs_Neue_Trial_DemiBold.woff2") format("woff2"), url("../fonts/TT_Firs_Neue_Trial_DemiBold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TT-Firs";
  font-display: swap;
  src: url("../fonts/TT_Firs_Neue_Trial_ExtraBold.woff2") format("woff2"), url("../fonts/TT_Firs_Neue_Trial_ExtraBold.woff") format("woff");
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e90c";
}

.icon-close:before {
  content: "\e90d";
}

.icon-arrow-reverse:before {
  content: "\e90e";
}

.icon-phone:before {
  content: "\e90a";
}

.icon-mail:before {
  content: "\e90b";
}

.icon-prev:before {
  content: "\e900";
}

.icon-arrow-down:before {
  content: "\e901";
}

.icon-next:before {
  content: "\e902";
}

.icon-arrow-left:before {
  content: "\e903";
}

.icon-arrow-right:before {
  content: "\e904";
}

.icon-check:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-timer:before {
  content: "\e907";
}

.icon-tringle:before {
  content: "\e908";
}

.icon-user:before {
  content: "\e909";
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox {
  position: relative;
}
.custom-checkbox.error span {
  color: red !important;
}
.custom-checkbox.error span:before {
  border-color: red;
}
.custom-checkbox.done span {
  color: var(--cl-k) !important;
}
.custom-checkbox.done span:before {
  border-color: var(--br-k);
}
.custom-checkbox .wpcf7-not-valid-tip {
  display: none;
}
.custom-checkbox input {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  inset: 0;
}
.custom-checkbox span {
  margin: 0 !important;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 110% !important;
}
.custom-checkbox span::before {
  cursor: pointer;
  content: "\e905";
  font-size: 10px;
  color: var(--cl-a);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin: 2px;
  flex-shrink: 0;
  flex-grow: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #868686;
  border-radius: 3px;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.custom-checkbox input:checked + span::before {
  border-color: var(--br-e);
  background-color: var(--bg-e);
}

.wpcf7-list-item {
  margin: 0;
}

:root {
  --frame-width: 1920;
  --rem-function: 16px;
  --error-bg: #f00;
  --body-bg:#fefefe;
  --body-font-size: 16px;
  --content-width: 1440px;
  --content-width-mode: 1920px;
  --container-offset: clamp(16px, 2.7778vw, 40px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mode: calc(var(--content-width-mode) + (var(--container-offset) * 2));
  --default-padding: clamp(72px, 10.4167vw, 150px);
  --default-gap: clamp(36px, 4.4444vw, 64px);
  --gap: clamp(16px, 1.6667vw, 24px);
  --neutral-100: #f2f3f2;
  --neutral-200: #d9dbda;
  --neutral-300: #cccfcd;
  --neutral-400: #bfc3c1;
  --neutral-500: #8c938f;
  --neutral-600: #59635d;
  --neutral-700: #333f38;
  --neutral-800: #19271f;
  --neutral-900: #000f06;
  --main-green: #007833;
  --main-yellow: #fcc833;
  --scrollbar-thumb: #fcc833;
  --scrollbar-track: rgba(0, 0, 0, 0.07);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;
  --main-button-size: 50px;
  --font-family: "Gilroy";
  --font-family2: "Gilroy-Medium", sans-serif;
  --font-family3: "TT-Firs", sans-serif;
  --font3: "Poppins", sans-serif;
  --cl-a: #1b1b1b;
  --cl-b: #ffffff;
  --cl-c: #fcc833;
  --cl-d: #007833;
  --loader: linear-gradient(90deg, rgba(108, 214, 133, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 55%, rgba(9, 146, 196, 1) 100%);
}

.wp-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wp-editor .h1, .wp-editor .h2, .wp-editor .h3, .wp-editor .h4, .wp-editor .h5, .wp-editor .h6, .wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {
  margin: 0;
}
.wp-editor p {
  margin: 0;
}

.pretitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(22px, 1.9444vw, 28px);
  color: var(--neutral-700);
  line-height: 110%;
}

h2,
.h2 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(32px, 3.8889vw, 56px);
  line-height: 125%;
  text-transform: uppercase;
  color: var(--neutral-900);
}

h1,
.h1 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(42px, 5vw, 72px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--neutral-900);
}

h3,
.h3 {
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: clamp(18px, 3.0769vw, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

h4,
.h4 {
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: clamp(18px, 2.0513vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6667vw, 24px);
  position: relative;
}
.editor .wpcf7 {
  width: 100%;
}
.editor p:has(iframe) {
  height: 100%;
}
.editor iframe {
  height: 100%;
  border-radius: 24px;
  aspect-ratio: 1/1;
  max-width: 100%;
  width: 100%;
  min-height: 500px;
}
.editor p:not([class]) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(18px, 1.3889vw, 20px);
  line-height: 145%;
  color: var(--neutral-700);
}
.editor ul:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.editor ul:not([class]) li {
  color: var(--cl-i);
  font-family: var(--second-family);
  font-size: clamp(12px, 0.972vw, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  padding-left: 20px;
}
.editor ul:not([class]) li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  pointer-events: none;
  left: 10px;
  top: 8.5px;
  background: var(--cl-i);
}
.editor ol:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  counter-reset: li;
  margin-bottom: clamp(8px, 1.5625vw, 16px);
}
.editor ol:not([class]) li {
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-left: 20px;
  counter-increment: li;
}
.editor ol:not([class]) li:before {
  content: counter(li) ".";
  position: absolute;
  top: 0;
  left: 3px;
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.editor table:not([class]) {
  border-radius: 24px;
  border: 1px solid var(--bg-d);
  border-collapse: initial !important;
}
.editor table:not([class]) tr:first-child {
  overflow: hidden;
  width: 100%;
}
.editor table:not([class]) tr:first-child td {
  color: var(--cl-m);
  background: var(--bg-l);
}
.editor table:not([class]) tr:first-child td:first-of-type {
  border-radius: 24px 0 0 0;
}
.editor table:not([class]) tr:first-child td:last-of-type {
  border-radius: 0 24px 0 0;
}
.editor table:not([class]) tr td {
  border-bottom: solid 1px var(--bg-d);
}
.editor table:not([class]) tr:last-child td {
  border: none !important;
}
.editor table:not([class]) td {
  padding: 16px 0;
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.editor .row {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.editor .row:has(.main-button:only-child) {
  display: initial;
}
.editor blockquote {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 2px;
  padding-left: 18px;
  border-left: solid 2px #c4ee50;
}
.editor blockquote p:not([class]) {
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: clamp(12px, 1.5625vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.editor blockquote span {
  font-family: var(--font-family);
  font-size: clamp(18px, 2.3438vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);
}
.slider-controls .slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(44px, 3.75vw, 54px);
  background: var(--main-yellow);
  transition: all 0.3s;
  height: clamp(44px, 3.75vw, 54px);
}
.slider-controls .slider-btn:disabled {
  background: var(--neutral-200);
  pointer-events: none;
}
.slider-controls .slider-btn .sprite {
  width: 16px;
  height: auto;
}
.slider-controls .slider-btn .sprite svg {
  width: 100%;
  height: auto;
}
.slider-controls .slider-btn.next .sprite {
  transform: scaleX(-1);
}
.slider-controls .slider-btn:hover {
  background: rgb(248.347826087, 185.0434782609, 3.652173913);
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 10px;
}
.slider-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: var(--neutral-200);
  display: flex;
  opacity: 1;
  transition: all 0.3s;
}
.slider-pagination .swiper-pagination-bullet-active {
  background: var(--neutral-600);
}
.slider-pagination .swiper-pagination-bullet:hover {
  opacity: 0.7;
}

.logo {
  width: clamp(97px, 12.1528vw, 175px);
  max-height: 36px;
  height: auto;
  display: flex;
}
.logo img,
.logo svg {
  width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100dvw;
  font-size: var(--body-fontstyle-size);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  overflow-x: hidden;
  margin-top: 0 !important;
}

body {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: 100%;
  margin: 0;
  will-change: font-size;
  color: var(--cl-p);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  padding-top: var(--header-height);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}
body.fixed-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
body.home section:last-of-type {
  margin-bottom: var(--default-padding);
}

main {
  min-width: 0 !important;
}
main.no-padding {
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-flex;
  margin: 0;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  line-height: initial;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

picture {
  display: inline-flex;
}

label {
  display: inline-flex;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
input::-moz-placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}
input::placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}
input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}
.container--mode {
  max-width: var(--container-width-mode);
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none !important;
  scroll-behavior: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid rgba(17, 116, 166, 0.5);
  -webkit-text-fill-color: #1d1d1d;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0) 100%);
}

[data-content] {
  z-index: 20;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}

[data-tab-content] {
  display: none;
}
[data-tab-content].active {
  display: block;
}

*::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
*::-webkit-scrollbar-button {
  display: none;
  background-color: transparent;
  box-shadow: none;
}

.sprite {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-fancybox] {
  outline: initial !important;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  overflow-y: auto;
  padding: 20px 0;
  height: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s, z-index 2s;
  transition-delay: 0.5s;
  pointer-events: none;
}
.overlay::-webkit-scrollbar {
  display: none;
}
.overlay.active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s, visibility 0.6s;
  pointer-events: initial;
}
.overlay.active.mode {
  z-index: 15;
}
@media (min-width: 768px) {
  .editor .wpcf7 {
    max-width: 580px;
    margin-top: 20px;
  }
}
@media (min-width: 1025px) {
  .hidden-for-tablet {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  :root {
    --container-offset: 16px;
  }
  body {
    grid-template-rows: 1fr auto;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .editor .wpcf7 {
    max-width: 576px;
    margin: 0 auto;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 575px) {
  h2,
  .h2 {
    line-height: 131%;
  }
  h3,
  .h3 {
    font-weight: 500;
  }
  .editor .h1, .editor .h2, .editor .h3, .editor .h4, .editor .h5, .editor .h6, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
    text-align: center;
  }
  .editor .row .main-button {
    flex-grow: 1;
  }
  .editor blockquote p:not([class]):last-of-type {
    max-width: 200px;
    margin-left: auto;
  }
  .editor blockquote span {
    font-family: var(--second-family);
  }
  .editor blockquote {
    margin-left: 16px;
  }
}
/*# sourceMappingURL=critical.css.map */