@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TT-Firs";
  font-display: swap;
  src: url("../fonts/TT_Firs_Neue_Trial_DemiBold.woff2") format("woff2"), url("../fonts/TT_Firs_Neue_Trial_DemiBold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TT-Firs";
  font-display: swap;
  src: url("../fonts/TT_Firs_Neue_Trial_ExtraBold.woff2") format("woff2"), url("../fonts/TT_Firs_Neue_Trial_ExtraBold.woff") format("woff");
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e90c";
}

.icon-close:before {
  content: "\e90d";
}

.icon-arrow-reverse:before {
  content: "\e90e";
}

.icon-phone:before {
  content: "\e90a";
}

.icon-mail:before {
  content: "\e90b";
}

.icon-prev:before {
  content: "\e900";
}

.icon-arrow-down:before {
  content: "\e901";
}

.icon-next:before {
  content: "\e902";
}

.icon-arrow-left:before {
  content: "\e903";
}

.icon-arrow-right:before {
  content: "\e904";
}

.icon-check:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-timer:before {
  content: "\e907";
}

.icon-tringle:before {
  content: "\e908";
}

.icon-user:before {
  content: "\e909";
}

/* stylelint-disable */
:root {
  --frame-width: 1920;
  --rem-function: 16px;
  --error-bg: #f00;
  --body-bg:#fefefe;
  --body-font-size: 16px;
  --content-width: 1440px;
  --content-width-mode: 1920px;
  --container-offset: clamp(16px, 2.7778vw, 40px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mode: calc(var(--content-width-mode) + (var(--container-offset) * 2));
  --default-padding: clamp(72px, 10.4167vw, 150px);
  --default-gap: clamp(36px, 4.4444vw, 64px);
  --gap: clamp(16px, 1.6667vw, 24px);
  --neutral-100: #f2f3f2;
  --neutral-200: #d9dbda;
  --neutral-300: #cccfcd;
  --neutral-400: #bfc3c1;
  --neutral-500: #8c938f;
  --neutral-600: #59635d;
  --neutral-700: #333f38;
  --neutral-800: #19271f;
  --neutral-900: #000f06;
  --main-green: #007833;
  --main-yellow: #fcc833;
  --scrollbar-thumb: #fcc833;
  --scrollbar-track: rgba(0, 0, 0, 0.07);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;
  --main-button-size: 50px;
  --font-family: "Gilroy";
  --font-family2: "Gilroy-Medium", sans-serif;
  --font-family3: "TT-Firs", sans-serif;
  --font3: "Poppins", sans-serif;
  --cl-a: #1b1b1b;
  --cl-b: #ffffff;
  --cl-c: #fcc833;
  --loader: linear-gradient(90deg, rgba(108, 214, 133, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 55%, rgba(9, 146, 196, 1) 100%);
}

/* stylelint-disable */
.wp-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wp-editor .h1, .wp-editor .h2, .wp-editor .h3, .wp-editor .h4, .wp-editor .h5, .wp-editor .h6, .wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {
  margin: 0;
}
.wp-editor p {
  margin: 0;
}

.pretitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(22px, 1.9444vw, 28px);
  color: var(--neutral-700);
  line-height: 110%;
}

h2,
.h2 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(32px, 3.8889vw, 56px);
  line-height: 125%;
  text-transform: uppercase;
  color: var(--neutral-900);
}

h1,
.h1 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(42px, 5vw, 72px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--neutral-900);
}

h3,
.h3 {
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: clamp(18px, 3.0769vw, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

h4,
.h4 {
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: clamp(18px, 2.0513vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6667vw, 24px);
  position: relative;
}
.editor .wpcf7 {
  width: 100%;
}
.editor p:has(iframe) {
  height: 100%;
}
.editor iframe {
  height: 100%;
  border-radius: 24px;
  aspect-ratio: 1/1;
  max-width: 100%;
  width: 100%;
  min-height: 500px;
}
.editor p:not([class]) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(18px, 1.3889vw, 20px);
  line-height: 145%;
  text-align: center;
  color: var(--neutral-700);
}
.editor ul:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.editor ul:not([class]) li {
  color: var(--cl-i);
  font-family: var(--second-family);
  font-size: clamp(12px, 0.972vw, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  padding-left: 20px;
}
.editor ul:not([class]) li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  pointer-events: none;
  left: 10px;
  top: 8.5px;
  background: var(--cl-i);
}
.editor ol:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  counter-reset: li;
  margin-bottom: clamp(8px, 1.5625vw, 16px);
}
.editor ol:not([class]) li {
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-left: 20px;
  counter-increment: li;
}
.editor ol:not([class]) li:before {
  content: counter(li) ".";
  position: absolute;
  top: 0;
  left: 3px;
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
}
.editor table:not([class]) {
  border-radius: 24px;
  border: 1px solid var(--bg-d);
  border-collapse: initial !important;
}
.editor table:not([class]) tr:first-child {
  overflow: hidden;
  width: 100%;
}
.editor table:not([class]) tr:first-child td {
  color: var(--cl-m);
  background: var(--bg-l);
}
.editor table:not([class]) tr:first-child td:first-of-type {
  border-radius: 24px 0 0 0;
}
.editor table:not([class]) tr:first-child td:last-of-type {
  border-radius: 0 24px 0 0;
}
.editor table:not([class]) tr td {
  border-bottom: solid 1px var(--bg-d);
}
.editor table:not([class]) tr:last-child td {
  border: none !important;
}
.editor table:not([class]) td {
  padding: 16px 0;
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.editor .row {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.editor .row:has(.main-button:only-child) {
  display: initial;
}
.editor blockquote {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 2px;
  padding-left: 18px;
  border-left: solid 2px #c4ee50;
}
.editor blockquote p:not([class]) {
  color: var(--cl-j);
  font-family: var(--font-family);
  font-size: clamp(12px, 1.5625vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.editor blockquote span {
  font-family: var(--font-family);
  font-size: clamp(18px, 2.3438vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);
}
.slider-controls .slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(44px, 3.75vw, 54px);
  background: var(--main-yellow);
  transition: all 0.3s;
  height: clamp(44px, 3.75vw, 54px);
}
.slider-controls .slider-btn:disabled {
  background: var(--neutral-200);
  pointer-events: none;
}
.slider-controls .slider-btn .sprite {
  width: 16px;
  height: auto;
}
.slider-controls .slider-btn .sprite svg {
  width: 100%;
  height: auto;
}
.slider-controls .slider-btn.next .sprite {
  transform: scaleX(-1);
}
.slider-controls .slider-btn:hover {
  background: rgb(248.347826087, 185.0434782609, 3.652173913);
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 10px;
}
.slider-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: var(--neutral-200);
  display: flex;
  opacity: 1;
  transition: all 0.3s;
}
.slider-pagination .swiper-pagination-bullet-active {
  background: var(--neutral-600);
}
.slider-pagination .swiper-pagination-bullet:hover {
  opacity: 0.7;
}

.logo {
  width: clamp(97px, 12.1528vw, 175px);
  max-height: 36px;
  height: auto;
  display: flex;
}
.logo img,
.logo svg {
  width: 100%;
  height: auto;
}

/* stylelint-disable */
.main-button {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border: 2px solid var(--main-yellow);
  padding: 16px 64px;
  height: 59px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  background: var(--main-yellow);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--neutral-700);
}
.main-button--transparent {
  color: var(--main-yellow);
  background: transparent;
}
.main-button--white {
  color: var(--neutral-100);
  border-color: var(--neutral-100);
  background: transparent;
}

.telegram-btn {
  max-width: var(--btn-size);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-e);
  border-radius: 8px;
  aspect-ratio: 1;
  transition: all 0.3s;
}
.telegram-btn svg {
  max-width: 90%;
  width: 100%;
  height: auto;
}

.whatsapp-btn {
  max-width: var(--btn-size);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-d);
  border-radius: 8px;
  aspect-ratio: 1;
  transition: all 0.3s;
}
.whatsapp-btn svg {
  max-width: 90%;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .editor .wpcf7 {
    max-width: 580px;
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  :root {
    --container-offset: 16px;
  }
}
@media (max-width: 767px) {
  .editor .wpcf7 {
    max-width: 576px;
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  h2,
  .h2 {
    line-height: 131%;
  }
  h3,
  .h3 {
    font-weight: 500;
  }
  .editor .h1, .editor .h2, .editor .h3, .editor .h4, .editor .h5, .editor .h6, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
    text-align: center;
  }
  .editor .row .main-button {
    flex-grow: 1;
  }
  .editor blockquote p:not([class]):last-of-type {
    max-width: 200px;
    margin-left: auto;
  }
  .editor blockquote span {
    font-family: var(--second-family);
  }
  .editor blockquote {
    margin-left: 16px;
  }
}
@media (hover: hover) {
  .main-button:hover {
    background: rgb(248.347826087, 185.0434782609, 3.652173913);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }
  .main-button--transparent:hover {
    background: var(--main-yellow);
    color: var(--neutral-700);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }
  .main-button--white:hover {
    background: var(--main-yellow);
    border-color: var(--main-yellow);
    color: var(--neutral-700);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }
  .telegram-btn:hover {
    background-color: var(--cl-j);
  }
  .whatsapp-btn:hover {
    background-color: var(--cl-i);
  }
}
@media (hover: none) {
  .main-button:active {
    background: rgb(248.347826087, 185.0434782609, 3.652173913);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }
  .main-button--transparent:active {
    background: var(--main-yellow);
    color: var(--neutral-700);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }
  .main-button--white:active {
    background: var(--main-yellow);
    border-color: var(--main-yellow);
    color: var(--neutral-700);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }
  .telegram-btn:active {
    background-color: var(--cl-j);
  }
  .whatsapp-btn:active {
    background-color: var(--cl-i);
  }
}
/*# sourceMappingURL=for-editor.css.map */