@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

@mixin certificate {
  .certificate {
    padding: clamp(8px, 1.6667vw, 24px);
    border: 1px solid var(--neutral-300);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(8px, 1.1111vw, 16px);

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      position: absolute;
      inset: 0;
      z-index: 3;
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: all .3s;

      a {
        width: clamp(54px, 4.4444vw, 64px);
        height: clamp(54px, 4.4444vw, 64px);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--main-yellow);
        transition: all .3s;

        i.sprite {
          width: 28px;
          height: auto;

          svg {
            width: 100%;
            object-fit: cover;
            height: auto;
          }
        }

        @include hover {
          background: darken(#fcc833, 10%);
        }
      }
    }

    &__thumb {
      position: relative;
      z-index: 1;
      display: flex;
      width: 100%;
      height: clamp(220px, 29.1667vw, 420px);
      overflow: hidden;

      img,
      picture {
        transition: all 0.3s;
        width: 100%;
        height: 100%;
      }

      @include tablet {
        height: clamp(220px, 46.88vw, 480px);
      }

      @include for-mobile {
        margin-bottom: clamp(8px, 1.1111vw, 16px);
      }

      &:hover{
        .certificate__links{
          opacity: 1;
        }
      }
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(16px, 2.73vw, 28px);
      text-align: center;
      color: var(--neutral-700);
      line-height: 100%;
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(12px, 1.76vw, 18px);
      line-height: 150%;
      text-align: center;
      color: var(--neutral-600);
      max-width: 280px;
    }

    @include hover {
      .certificate__thumb {
        img,
        picture {
          transform: scale(1.04);
        }
      }
    }
  }
}
