@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

@mixin post-card {
  .post-card {
    &__thumb {
      width: 100%;
      display: flex;
      height: 300px;

      overflow: hidden;
      img,
      picture {
        transition: all 0.3s;
        width: 100%;
        height: 100%;
      }
    }

    &__date {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(12px, 0.9722vw, 14px);
      color: var(--neutral-600);
      margin-top: calc(clamp(8px, 0.8333vw, 12px) * -1);
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: var(--gap);
      border: 1px solid var(--neutral-200);
      border-top: none;
    }

    &__excerpt {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: var(--neutral-600);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(22px, 1.9444vw, 28px);
      color: var(--neutral-700);
      line-height: 105%;
    }

    .main-button {
      @include tablet {
        width: 100%;
        max-width: 100%;
      }
    }

    @include hover {
      .post-card__thumb {
        img,
        picture {
          transform: scale(1.04);
        }
      }
    }
  }
}
