@use "../mixins/breakpoint" as *;

@mixin products-slider{
    .products-slider{
           width: 100%;
           overflow: hidden;

        .swiper-container{
            width: 100%;

            @include tablet{
                 padding: 0 var(--container-offset);
            }
        }


        .swiper-slide{
           height: 100%;
            display: flex;
        }

        @include tablet{
            width: calc(100% + (var(--container-offset) * 2));
            margin-left: calc(var(--container-offset) * -1);
           
        }
    }
}