@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

@mixin review-card {
  .review-card {
    display: flex;
    flex-direction: column;
    gap: clamp(24px, 2.5vw, 35px);
    justify-content: space-between;
    height: 100%;
    padding: var(--gap);
    border: 1px solid var(--neutral-200);

    .editor {
      p {
        text-align: start;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(18px, 1.3889vw, 20px);
        line-height: 145%;
        color: var(--neutral-700);
      }
    }

    &__thumb {
      display: flex;
      width: clamp(59px, 4.4444vw, 64px);
      height: clamp(59px, 4.4444vw, 64px);
      grid-column: 2/3;
      grid-row: 1/2;

      img,
      picture {
        width: 100%;
        height: 100%;
      }
    }

    &__name {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(16px, 1.25vw, 18px);
      line-height: 150%;
      justify-self: end;
      text-align: right;
      color: var(--neutral-800);
    }

    &__bottom {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: clamp(16px, 1.6667vw, 24px);
    }

    &__position {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(12px, 0.9722vw, 14px);
      line-height: 150%;
      text-align: right;
      color: var(--neutral-500);
      justify-self: end;
    }

    &__meta {
      display: flex;
      flex-direction: column;
      gap: clamp(2px, 0.2778vw, 4px) clamp(16px, 1.6667vw, 24px);
    }
  }
}
