@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.main-button {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border: 2px solid var(--main-yellow);
  padding: 16px 64px;
  height: 59px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  background: var(--main-yellow);
  width: fit-content;
  color: var(--neutral-700);

  @include hover {
    background: darken(#fcc833, 10%);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }

  &--transparent {
    color: var(--main-yellow);
    background: transparent;

    @include hover {
      background: var(--main-yellow);
      color: var(--neutral-700);
      box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
    }
  }

  &--white {
    color: var(--neutral-100);
    border-color: var(--neutral-100);
    background: transparent;

    @include hover {
      background: var(--main-yellow);
      border-color: var(--main-yellow);
      color: var(--neutral-700);
      box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
    }
  }
}