@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.main-button {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border: 2px solid var(--main-yellow);
  padding: 16px 64px;
  height: 59px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  background: var(--main-yellow);
  width: fit-content;
  color: var(--neutral-700);

  @include hover {
    background: darken(#fcc833, 10%);
    box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
  }

  &--transparent {
    color: var(--main-yellow);
    background: transparent;

    @include hover {
      background: var(--main-yellow);
      color: var(--neutral-700);
      box-shadow: 0 8px 16px rgba(252, 200, 51, 0.3);
    }
  }
}

.telegram-btn {
  max-width: var(--btn-size);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-e);
  border-radius: 8px;
  aspect-ratio: 1;
  transition: all 0.3s;

  @include hover {
    background-color: var(--cl-j);
  }

  svg {
    max-width: 90%;
    width: 100%;
    height: auto;
  }
}

.whatsapp-btn {
  max-width: var(--btn-size);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-d);
  border-radius: 8px;
  aspect-ratio: 1;
  transition: all 0.3s;

  @include hover {
    background-color: var(--cl-i);
  }

  svg {
    max-width: 90%;
    width: 100%;
    height: auto;
  }
}
