@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-style: $style;
    font-weight: #{$weight};
    font-family: "#{$font-family}";

    font-display: swap;
    src: url("../fonts/#{$url}.woff2") format("woff2"),
    url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face("Gilroy",  "Gilroy-Semibold", 700, normal);
@include font-face("Gilroy",  "Gilroy-Regular", 400, normal);
@include font-face("Gilroy-Medium",  "Gilroy-Medium", 700, normal);

@include font-face("Poppins",  "Poppins-Regular", 700, normal);
@include font-face("Poppins",  "Poppins-SemiBold", 700, normal);

@include font-face("TT-Firs",  "TT_Firs_Neue_Trial_DemiBold", 700, normal);
@include font-face("TT-Firs",  "TT_Firs_Neue_Trial_ExtraBold", 700, normal);

//@font-face {
//  font-family: 'icomoon';
//  src:  url('../icomoon/fonts/icomoon.eot');
//  src:  url('../icomoon/fonts/icomoon.eot') format('embedded-opentype'),
//  url('../icomoon/fonts/icomoon.ttf') format('truetype'),
//  url('../icomoon/fonts/icomoon.woff') format('woff'),
//  url('../icomoon/fonts/icomoon.svg') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: block;
//}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-arrow-reverse:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-prev:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-timer:before {
  content: "\e907";
}
.icon-tringle:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
