@use "../mixins/breakpoint" as *;
@use "../mixins/mini" as *;

.wp-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include headers {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

// .tag {
//   display: flex;
//   padding: 8px 12px;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
//   color: var(--cl-j);
//   overflow: hidden;
//   text-overflow: ellipsis;
//   border-radius: 24px;
//   background: var(--bg-c);
//   font-family: var(--font-family);
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   transition: all 0.3s;
//   gap: 8px;

//   &:not(.active) {
//     &:hover {
//       color: var(--cl-a);
//       background: var(--bg-h);
//     }
//   }

//   &.active {
//     color: var(--cl-a);
//     background: var(--bg-h);

//     &::after {
//       font-size: 16px;
//       content: "\e90d";
//       font-family: "icomoon" !important;
//       speak: never;
//       font-style: normal;
//       font-weight: normal;
//       font-variant: normal;
//       text-transform: none;
//       line-height: 1;

//       /* Better Font Rendering =========== */
//       -webkit-font-smoothing: antialiased;
//       -moz-osx-font-smoothing: grayscale;
//     }
//   }
// }

// .accent-label {
//   padding: 8px 16px;
//   width: max-content;
//   border-radius: 36px;
//   border: 1px solid var(--br-e);
//   background: var(--bg-c);

//   &[style*="text-align: center;"] {
//     margin: 0 auto;
//     display: inline-block;
//   }

//   &[style*="text-align: right;"] {
//     margin: 0 0 0 auto;
//     display: inline-block;
//   }

//   &[style*="text-align: left;"] {
//     margin: 0 auto 0 0;
//     display: inline-block;
//   }

//   &.white {
//     background: transparent;
//     border-color: var(--br-d);
//   }
// }

.pretitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(22px, 1.9444vw, 28px);
  color: var(--neutral-700);
  line-height: 110%;
}

h2,
.h2 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(32px, 3.8889vw, 56px);
  line-height: 125%;
  text-transform: uppercase;
  color: var(--neutral-900);

  @include mobile {
    line-height: 131%;
  }
}

h1,
.h1 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: clamp(42px, 5vw, 72px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--neutral-900);
}

h3,
.h3 {
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: clamp(18px, 3.0769vw, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  @include mobile {
    font-weight: 500;
  }
}

h4,
.h4 {
  color: var(--cl-b);
  font-family: var(--font-family);
  font-size: clamp(18px, 2.0513vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

// .rate-highlight {
//   display: inline-flex;
//   width: 100%;
//   text-align: center;
//   justify-content: center;

//   &.row {
//     flex-direction: row;
//     align-items: flex-end;
//   }

//   &.column {
//     margin: clamp(5px, 2.719vw, 31px) 0;
//     flex-direction: column;

//     .rate-highlight{

//       &__value{
//         @include  small-tablet{
//           font-size: 80px;
//         }
//       }

//       &__text{
//         text-align: center;
//         font-size: 24px;
//       }
//     }
//   }

//   &__value {
//     color: var(--cl-k);
//     text-align: center;
//     font-family: var(--font-family);
//     font-size: clamp(40px, 7.018vw, 80px);
//     font-style: normal;
//     font-weight: 600;
//     line-height: 100%;
//   }

//   &__text {
//     color: var(--cl-h);
//     text-align: start;
//     font-size: clamp(16px, 3.158vw, 36px);
//     font-family: var(--font-family);
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     text-transform: capitalize;
//   }
// }

// .caption {
//   position: absolute;
//   padding: 20px 24px;
//   border-radius: 24px;
//   background: var(--bg-l);
//   left: 8px;
//   right: 8px;
//   bottom: 8px;
//   z-index: 20;

//   color: var(--cl-m);
//   font-family: var(--font-family);
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
// }

.editor {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6667vw, 24px);
  position: relative;

  @include mobile {
    @include headers {
      text-align: center;
    }
  }

  .wpcf7 {
    width: 100%;

    @include for-small-tablet {
      max-width: 580px;
      margin-top: 20px;
    }

    @include small-tablet {
      max-width: 576px;
      margin: 0 auto;
    }
  }

  p:has(iframe) {
    height: 100%;
  }

  // .accent-label {
  //   @include mobile {
  //     margin: 0 auto;
  //   }
  // }

  iframe {
    height: 100%;
    border-radius: 24px;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    width: 100%;
    min-height: 500px;
  }

  // .caption {
  //   position: absolute;
  //   padding: 20px 24px;
  //   border-radius: 24px;
  //   background: var(--Main-Neutral-100, #f8f8f8);
  //   left: 8px;
  //   right: 8px;
  //   bottom: 8px;
  // }

  // .main-button {
  //   margin-top: 20px;
  // }

  p:not([class]) {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(18px, 1.3889vw, 20px);
    line-height: 145%;
    // text-align: center;
    color: var(--neutral-700);
  }

  ul:not([class]) {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      color: var(--cl-i);
      font-family: var(--second-family);
      font-size: clamp(12px, 0.972vw, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      position: relative;
      padding-left: 20px;

      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        pointer-events: none;
        left: 10px;
        top: 8.5px;
        background: var(--cl-i);
      }
    }
  }

  ol:not([class]) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    counter-reset: li;
    margin-bottom: clamp(8px, 1.5625vw, 16px);

    li {
      color: var(--cl-j);
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: relative;
      padding-left: 20px;
      counter-increment: li;

      &:before {
        content: counter(li) ".";
        position: absolute;
        top: 0;
        left: 3px;
        color: var(--cl-j);
        font-family: var(--font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: inline-block;
      }
    }
  }

  // &s {
  //   display: grid;
  //   grid-template-columns: 1.2fr 1fr;
  //   grid-gap: clamp(35px, 8.4746vw, 117px);

  //   &__coll {
  //     &:only-of-type {
  //       grid-column: 1/-1;
  //     }
  //   }
  // }

  table:not([class]) {
    border-radius: 24px;
    border: 1px solid var(--bg-d);
    border-collapse: initial !important;

    tr:first-child {
      overflow: hidden;
      width: 100%;

      td {
        color: var(--cl-m);
        background: var(--bg-l);

        &:first-of-type {
          border-radius: 24px 0 0 0;
        }

        &:last-of-type {
          border-radius: 0 24px 0 0;
        }
      }
    }

    tr {
      td {
        border-bottom: solid 1px var(--bg-d);
      }

      &:last-child {
        td {
          border: none !important;
        }
      }
    }

    td {
      padding: 16px 0;
      color: var(--cl-j);
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .row {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    &:has(.main-button:only-child) {
      display: initial;
    }

    .main-button {
      @include mobile {
        flex-grow: 1;
      }
    }
  }

  blockquote {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 2px;
    padding-left: 18px;
    border-left: solid 2px #c4ee50;

    p:not([class]) {
      color: var(--cl-j);
      font-family: var(--font-family);
      font-size: clamp(12px, 1.5625vw, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &:last-of-type {
        @include mobile {
          max-width: 200px;
          margin-left: auto;
        }
      }
    }

    span {
      font-family: var(--font-family);
      font-size: clamp(18px, 2.3438vw, 24px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;

      @include mobile {
        font-family: var(--second-family);
      }
    }

    @include mobile {
      margin-left: 16px;
    }
  }
}

.slider-controls {
   display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap);

  .slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(44px, 3.75vw, 54px);
    background: var(--main-yellow);
    transition: all .3s;
    height: clamp(44px, 3.75vw, 54px);

    &:disabled{
      background: var(--neutral-200);
      pointer-events: none;
    }

    .sprite{
      width: 16px;
      height: auto;

      svg{
        width: 100%;
        height: auto;
      }
    }

    &.next{
      .sprite{
        transform: scaleX(-1);
      }
    }

    &:hover{
      background: darken(#fcc833, 10%);
    }
  }
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 10px;

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: var(--neutral-200);
    display: flex;
    opacity: 1;
    transition: all 0.3s;
    &-active {
      background: var(--neutral-600);
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
