@use '../mixins/breakpoint' as *;

:root {
  // --------------- default global variables ---------------
  --frame-width: 1920;
  --rem-function: 16px;

  //--rem-function: calc(100vw / var(--frame-width));

  --error-bg: #f00;
  --body-bg:#fefefe;
  --body-font-size: 16px;
  --content-width: 1440px;
  --content-width-mode: 1920px;
  --container-offset: clamp(16px, 2.7778vw, 40px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mode: calc(var(--content-width-mode) + (var(--container-offset) * 2));

  // --------------- default JS variables ---------------
  --default-padding: clamp(72px, 10.4167vw, 150px);
  --default-gap: clamp(36px, 4.4444vw, 64px);
  --gap: clamp(16px, 1.6667vw, 24px);
  --header-height: 92px;

  @include tablet {
     --header-height: 44px;
    --container-offset: 16px;
  }

  // --------------- figma vars -----------------------------
  --neutral-100: #f2f3f2;
	--neutral-200: #d9dbda;
	--neutral-300: #cccfcd;
	--neutral-400: #bfc3c1;
	--neutral-500: #8c938f;
	--neutral-600: #59635d;
	--neutral-700: #333f38;
	--neutral-800: #19271f;
	--neutral-900: #000f06;
	--main-green: #007833;
	--main-yellow: #fcc833;

  // --------------- default scroll variables ---------------
  --scrollbar-thumb: #fcc833;

  // --scrollbar-thumb-hover: #00aff0;
  --scrollbar-track: rgba(0, 0, 0, 0.07);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  // --------------- default select variables ---------------
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;
  --main-button-size: 50px;

  // --------------- default font-family variables ---------------

  --font-family: "Gilroy"; // var(--font-family);
  --font-family2: "Gilroy-Medium", sans-serif; // var(--font-family2);
  --font-family3: "TT-Firs", sans-serif; // var(--font-family3);
  --font3: "Poppins", sans-serif; // var(--font3);

  // --------------- default text color variables ---------------
  --cl-a: #1b1b1b; // var(--cl-a);
  --cl-b: #ffffff; // var(--cl-b);
  --cl-c: #fcc833; // var(--cl-c);
  --cl-d: #007833; // var(--cl-d);


  //-----------------custom loader----------------------------------
  --loader: conic-gradient(#007833, #fcc833, #007833);
}


